<div class="container mt-5">
  <div class="content-section">
    <h1>Search Books</h1>
    <%= form_with url: "/search_books", method: :get do |form| %>
      <div class="mb-3">
        <%= form.text_field :query, placeholder: "Search for something", class: "form-control" %>
      </div>
      <div class="d-grid gap-2 mb-3">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <% unless @books.nil? %>
    <% unless @books.empty? %>
      <div class="content-section">
        <% @books.each do |book| %>
          <h1>
            <%# TODO this doesn't work %>
            <%= book['volumeInfo']['title'] %>
          </h1>
        <% end %>
      </div>
    <% else %>
    <% end %>
  <% end %>
</div>
