<div class="container mt-5">
  <div class="content-section">
    <h1>Search Books</h1>
    <%= form_with url: "/search_books", method: :get do |form| %>
      <div class="mb-3">
        <%= form.text_field :query, placeholder: "Search for something", class: "form-control" %>
      </div>
      <div class="d-grid gap-2 mb-3">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="content-section">
    <% unless @books.empty? %>
      <% @books.each do |book| %>
        <h1>Book</h1>
      <% end %>
    <% end %>
  </div>
</div>
